faiss-cpu
huggingface_hub
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-mistralai
logfire
numpy
pandas
pypdf
pytest
python-dotenv
streamlit
sentence-transformers
sqlalchemy
tiktoken
