faiss-cpu
huggingface_hub
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-mistralai
logfire
numpy
pandas
pypdf
pytest
python-dotenv
streamlit
sqlalchemy
tiktoken
transformers==4.46.3
sentence-transformers==3.2.1
